.caterings-page {
    display: flex;
    flex-direction: column;
}

.caterings-page-content-wrapper { 
    max-width: 1200px;
    margin: 0 auto;    
}

/* Responsive adjustments for the wrapper */
@media (max-width: 768px) {
    .caterings-page-content-wrapper {
        max-width: 100%;
    }
}