.venues-page {
    display: flex;
    flex-direction: column;
}

.venues-page-content-wrapper { 
    max-width: 1200px;
    margin: 0 auto;    
}

.venues-content{
    margin-top: 50px;
}

/* Responsive adjustments for the wrapper */
@media (max-width: 768px) {
    .venues-page-content-wrapper {
        max-width: 100%;
    }
}